root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = omit_if_default

[*.{js,jsx,ts,tsx,vue}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
